@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

:root {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

#question-box {
  background-color: var(--color-avocado-100);
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

@layer theme {
  :root {
    --spacing: 0.25rem;
  }
}
@layer utilities {
  .mt-8 {
    margin-top: calc(var(--spacing) * 8);
  }
  .w-17 {
    width: calc(var(--spacing) * 17);
  }
  .pr-29 {
    padding-right: calc(var(--spacing) * 29);
  }
}

/* Custom extracted styling */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom left, #1b255d, #ec8927);
}

.start-page {
  display: flex;
  width: 85%;
  height: 80%;
  flex-direction: column;
  /* //justify-content: space-between; */
  align-items: center;
  /* //flex-shrink: 0; */
  max-width: 650px;
}

.start-page-heading {
  display: flex;
  width: 80%;
  height: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
  margin-top: 15%;

  text-align: center;
  font-family: "Istok Web", sans-serif;
  font-size: 270%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.start-page-text {
  color: #FFF;
  text-align: center;
  font-family: "Istok Web", sans-serif;
  font-size: 150%;
  font-style: normal;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: normal;
  margin-top: 15%;
  max-width: 550px;
}

.start-button {
  margin-top: auto;
  width: 85%;
  height: 8%;
  background-color: #2d3b87;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 300px;
}
/* 
.question-box-text {
  color: white;
  font-size: 1.5rem;
  font-family: 'Istok Web', sans-serif;
}

.answer-button-container {
  position: absolute;
  left: 25px;
  top: 98px;
}

.answer-button {
  width: 335px;
  height: 81px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border: none;
  cursor: pointer;
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */